* {
    padding: 0px;
    margin: 0px;
}

body{
    background: url("Img_fondo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.pares {
    width: 180px;
    height: 251px;
}

/*Estilos para botones de tapas*/
/*Primer boton*/
button.tap {
    background-image: url("Img_atras.png");
    background-position: center;
    background-size: 100%;
    width: 180px;
    height: 251px;
    border: none;
    position: relative;
    background-color: transparent;
}

button.tap.active {
    visibility: hidden;
}

/*Segundo boton*/
button.tap2 {
    background-image: url("Img_atras.png");
    background-position: center;
    background-size: 100%;
    width: 180px;
    height: 251px;
    border: none;
    position: relative;
    background-color: transparent;
}

button.tap2.active {
    visibility: hidden;
}

/*Tercer boton*/
button.tap3 {
    background-image: url("Img_atras.png");
    background-position: center;
    background-size: 100%;
    width: 180px;
    height: 251px;
    border: none;
    position: relative;
    background-color: transparent;
}

button.tap3.active {
    visibility: hidden;
}

/*Cuarto boton*/
button.tap4 {
    background-image: url("Img_atras.png");
    background-position: center;
    background-size: 100%;
    width: 180px;
    height: 251px;
    border: none;
    position: relative;
    background-color: transparent;
}

button.tap4.active {
    visibility: hidden;
}

/*Quinto boton*/
button.tap5 {
    background-image: url("Img_atras.png");
    background-position: center;
    background-size: 100%;
    width: 180px;
    height: 251px;
    border: none;
    position: relative;
    background-color: transparent;
}

button.tap5.active {
    visibility: hidden;
}

/*Sexto boton*/
button.tap6 {
    background-image: url("Img_atras.png");
    background-position: center;
    background-size: 100%;
    width: 180px;
    height: 251px;
    border: none;
    position: relative;
    background-color: transparent;
}

button.tap6.active {
    visibility: hidden;
}

.text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #00182A;
    width: 242px;
    height: 314px;
    position: fixed;
    left: 44.3%;
    top: 36%;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: justify;
}

/*Ventana emergente 1*/
.overlay {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    padding: 20px;
    opacity: 0;
}

.popup .btncerrar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}

.popup .btncerrar:hover {
    font-size: 25px;
}

.popup.active {
    opacity: 1;
}

/*Ventana emergente 2*/
.overlay2 {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay2.active {
    visibility: visible;
}

.popup2 {
    padding: 20px;
    opacity: 0;
}

.popup2 .btncerrar2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}

.popup2 .btncerrar2:hover {
    font-size: 25px;
}

.popup2.active {
    opacity: 1;
}

/*Ventana emergente 3*/
.overlay3 {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay3.active {
    visibility: visible;
}

.popup3 {
    padding: 20px;
    opacity: 0;
}

.popup3 .btncerrar3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}

.popup3 .btncerrar3:hover {
    font-size: 25px;
}

.popup3.active {
    opacity: 1;
}

/*Ventama emergente 4*/
.overlay4 {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay4.active {
    visibility: visible;
}

.popup4 {
    padding: 20px;
    opacity: 0;
}

.popup4 .btncerrar4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}

.popup4 .btncerrar4:hover {
    font-size: 25px;
}

.popup4.active {
    opacity: 1;
}

/*Ventana emergente 5*/
.overlay5 {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay5.active {
    visibility: visible;
}

.popup5 {
    padding: 20px;
    opacity: 0;
}

.popup5 .btncerrar5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}

.popup5 .btncerrar5:hover {
    font-size: 25px;
}

.popup5.active {
    opacity: 1;
}

/*Ventana emergente 6*/
/*Ventana emergente 5*/
.overlay6 {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay6.active {
    visibility: visible;
}

.popup6 {
    padding: 20px;
    opacity: 0;
}

.popup6 .btncerrar6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}

.popup6 .btncerrar6:hover {
    font-size: 25px;
}

.popup6.active {
    opacity: 1;
}

/*Limpiador de elementos flotados*/
.clearfix {
    float: none;
    clear: both;
}

.usuario {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}